.u-section-1 .u-sheet-1 {
  min-height: 2343px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  height: auto;
  min-height: 3000px;
  margin-top: 0;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: auto;
  }
}