.u-section-1 .u-sheet-1 {
  min-height: 3282px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 3224px;
  width: 1140px;
  margin: 0 0 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}