.u-section-1 .u-sheet-1 {
  min-height: 1386px;
}

.u-section-1 .u-shape-1 {
  width: 596px;
  height: 196px;
  margin: 80px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.15);
  background-image: none;
  font-weight: 700;
  margin: -172px auto 0 437px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 426px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 53.7% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 73px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
    margin-right: 72px;
  }

  .u-section-1 .u-text-2 {
    width: 197px;
    margin-top: 9px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #eafdfc);
}

.u-section-2 .u-sheet-1 {
  min-height: 805px;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  margin: 57px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 912px;
  min-height: 185px;
  margin: 80px auto 0 116px;
}

.u-section-2 .u-group-elements-2 {
  width: 211px;
  min-height: 185px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-icon-1 {
  width: 100px;
  height: 100px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px auto 0 56px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -92px auto 0 253px;
}

.u-section-2 .u-group-elements-3 {
  width: 189px;
  min-height: 185px;
  margin: -156px 348px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-icon-3 {
  width: 100px;
  height: 100px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px 89px 0 37px;
  padding: 0;
}

.u-section-2 .u-group-elements-4 {
  width: 167px;
  min-height: 185px;
  margin: -185px 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-icon-4 {
  width: 100px;
  height: 100px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px 33px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 51px;
  height: 51px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -82px 239px 31px auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  width: 838px;
  margin: 117px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 73px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 883px;
    min-height: 205px;
    margin-top: 55px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-elements-2 {
    height: auto;
    margin-top: 37px;
    margin-left: -14px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -116px;
    margin-left: 242px;
  }

  .u-section-2 .u-group-elements-3 {
    height: auto;
    margin-top: -140px;
    margin-right: 322px;
  }

  .u-section-2 .u-group-elements-4 {
    height: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -92px;
    margin-right: 217px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 145px;
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 698px;
    min-height: 185px;
    margin-top: 97px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -77px;
    margin-left: 205px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: -171px;
    margin-right: 225px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -69px;
    margin-right: 182px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    margin: 80px 23px 64px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 211px;
    min-height: 847px;
    height: auto;
    margin-top: 48px;
    margin-right: 134px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 54px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 127px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -264px;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 115px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 822px;
    margin-top: 68px;
    margin-right: 80px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 30px;
    margin-right: 71px;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 36px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-4 {
    margin-top: 155px;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -273px;
    margin-left: 80px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 103px;
    margin-bottom: 60px;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 453px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 65px auto 0;
}

.u-section-3 .u-image-1 {
  width: 635px;
  height: 155px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 83px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.u-section-4 .u-sheet-1 {
  min-height: 532px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  font-family: Montserrat, sans-serif;
  text-transform: none;
  margin: 153px 102px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 61px auto 60px;
  padding: 14px 44px 15px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 2px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-sheet-1 {
  min-height: 811px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  width: 835px;
  font-weight: normal;
  margin: 38px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  width: 835px;
  margin: 38px auto 0;
}

.u-section-5 .u-list-1 {
  text-transform: none;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 276px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 226px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-5 .u-image-1 {
    padding: 30px 21px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 685px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 486px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 13px 111px 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-6 .u-text-2 {
    width: 680px;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-7 .u-sheet-1 {
  min-height: 630px;
}

.u-section-7 .u-text-1 {
  margin: 60px 70px 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 100%;
  margin: 18px 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-accordion-1 {
  margin: 54px 30px 0;
}

.u-section-7 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.u-section-7 .u-icon-1 {
  height: 46px;
  width: 46px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 124px;
}

.u-section-7 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.u-section-7 .u-icon-2 {
  height: 46px;
  width: 46px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 88px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-text-3 {
  margin: 0 -28px 0 28px;
}

.u-section-7 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.u-section-7 .u-icon-3 {
  height: 46px;
  width: 46px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 88px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-text-4 {
  margin: 0 -30px 0 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 205px;
  height: 162px;
  margin: 65px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 25px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 18px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-7 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-icon-1 {
    padding: 12px;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-icon-2 {
    padding: 12px;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-icon-3 {
    padding: 12px;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-7 .u-image-1 {
    width: 33px;
    height: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-7 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-7 .u-image-1 {
    width: 99px;
    height: 79px;
    object-position: 0% 50%;
    margin-top: 54px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-7 .u-accordion-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-accordion-pane-1 {
    min-height: 220px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 18px;
    margin-left: 10px;
  }

  .u-section-7 .u-accordion-pane-2 {
    min-height: 96px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-7 .u-accordion-pane-3 {
    min-height: 224px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 9px;
    margin-left: 25px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 315px;
  }
} .u-section-8 {
  background-image: linear-gradient(#e9f2fa, white);
}

.u-section-8 .u-sheet-1 {
  min-height: 751px;
}

.u-section-8 .u-text-1 {
  margin: 60px 135px 0 160px;
}

.u-section-8 .u-text-2 {
  margin: 24px 55px 0 80px;
}

.u-section-8 .u-list-1 {
  margin: 54px auto 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 32.25px) calc(25% - 32.25px) calc(25% - 32.25px) calc(25% - 32.25px);
  min-height: 263px;
  grid-gap: 43px 43px;
}

.u-section-8 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-8 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-8 .u-icon-2 {
  width: 41px;
  height: 41px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-8 .u-icon-3 {
  width: 41px;
  height: 41px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 9px 0;
}

.u-section-8 .u-icon-4 {
  width: 41px;
  height: 41px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 1rem;
  margin: 57px auto 60px;
  padding: 19px 64px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 100px;
    margin-right: 35px;
    margin-left: 60px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 217px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-10 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 21.5px) calc(50% - 21.5px);
    min-height: 665px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-10 {
    width: auto;
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 55px;
  }

  .u-section-8 .u-repeater-1 {
    grid-gap: 24px 24px;
    grid-template-columns: 100%;
    min-height: 929px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 16px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 16px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 1074px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 24px;
    margin-left: auto;
    padding: 4px;
  }

  .u-section-8 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 31px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 24px;
    margin-left: auto;
    padding: 4px;
  }

  .u-section-8 .u-text-5 {
    font-size: 3.75rem;
    margin-top: 31px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 24px;
    margin-left: auto;
    padding: 4px;
  }

  .u-section-8 .u-text-7 {
    font-size: 3.75rem;
    margin-top: 31px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 24px;
    margin-left: auto;
    padding: 4px;
  }

  .u-section-8 .u-text-9 {
    font-size: 3.75rem;
    margin-top: 31px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 20px;
  }
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before,
.u-section-8 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-9 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-9 .u-sheet-1 {
  min-height: 859px;
}

.u-section-9 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-9 .u-list-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  min-height: 548px;
  grid-gap: 16px 16px;
}

.u-section-9 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-9 .u-text-2 {
  font-size: 2.25rem;
  margin: 9px 20px 0;
}

.u-section-9 .u-image-1 {
  width: 138px;
  height: 138px;
  margin: 19px auto 0 14px;
}

.u-section-9 .u-shape-1 {
  width: 375px;
  height: 138px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -138px 19px 0 auto;
}

.u-section-9 .u-text-3 {
  font-style: italic;
  margin: -130px 20px 0 172px;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  margin: 31px 239px 0 20px;
}

.u-section-9 .u-shape-2 {
  width: 539px;
  height: 188px;
  margin: 31px auto 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -151px 35px 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px 46px 0 auto;
  padding: 0;
}

.u-section-9 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-2 {
  padding: 12px 0;
}

.u-section-9 .u-text-6 {
  font-size: 2.25rem;
  margin: 9px 20px 0;
}

.u-section-9 .u-image-2 {
  width: 138px;
  height: 138px;
  margin: 19px auto 0 14px;
}

.u-section-9 .u-shape-3 {
  width: 375px;
  height: 138px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -138px 19px 0 auto;
}

.u-section-9 .u-text-7 {
  font-style: italic;
  margin: -130px 20px 0 172px;
}

.u-section-9 .u-text-8 {
  font-size: 1.125rem;
  margin: 31px 239px 0 20px;
}

.u-section-9 .u-shape-4 {
  width: 539px;
  height: 188px;
  margin: 31px auto 0;
}

.u-section-9 .u-text-9 {
  font-weight: 700;
  margin: -151px 35px 0;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 27px 46px 0 auto;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  border-style: none;
  margin: 68px 546px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 95px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 729px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: 197px;
    margin-left: 152px;
  }

  .u-section-9 .u-shape-1 {
    width: 422px;
    margin-top: -303px;
    margin-right: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: -126px;
    margin-right: 46px;
    margin-left: 28px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 196px;
    margin-right: 39px;
  }

  .u-section-9 .u-shape-2 {
    width: 441px;
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: -159px;
    margin-right: 36px;
    margin-left: 20px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 36px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: 197px;
    margin-left: 152px;
  }

  .u-section-9 .u-shape-3 {
    width: 422px;
    margin-top: -303px;
    margin-right: auto;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-top: -126px;
    margin-right: 46px;
    margin-left: 28px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-top: 196px;
    margin-right: 39px;
  }

  .u-section-9 .u-shape-4 {
    width: 441px;
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-top: -159px;
    margin-right: 36px;
    margin-left: 20px;
  }

  .u-section-9 .u-btn-2 {
    margin-right: 36px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 19px;
    margin-right: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1161px;
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-9 .u-image-1 {
    width: 165px;
    height: 165px;
    margin-top: 20px;
    margin-left: 45px;
  }

  .u-section-9 .u-shape-1 {
    width: 448px;
    height: 165px;
    margin-top: -165px;
    margin-right: 27px;
  }

  .u-section-9 .u-text-3 {
    margin-top: -143px;
    margin-left: 262px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 50px;
    margin-right: 320px;
    margin-left: 45px;
  }

  .u-section-9 .u-shape-2 {
    width: 586px;
    height: 150px;
    margin-top: 15px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-9 .u-text-5 {
    margin-top: -106px;
    margin-right: 90px;
    margin-left: 66px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 30px;
    margin-right: 105px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-9 .u-image-2 {
    width: 165px;
    height: 165px;
    margin-top: 20px;
    margin-left: 45px;
  }

  .u-section-9 .u-shape-3 {
    width: 448px;
    height: 165px;
    margin-top: -165px;
    margin-right: 27px;
  }

  .u-section-9 .u-text-7 {
    margin-top: -143px;
    margin-left: 262px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 50px;
    margin-right: 320px;
    margin-left: 45px;
  }

  .u-section-9 .u-shape-4 {
    width: 586px;
    height: 150px;
    margin-top: 15px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-9 .u-text-9 {
    margin-top: -106px;
    margin-right: 90px;
    margin-left: 66px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 30px;
    margin-right: 105px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: -61px;
    margin-right: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1147px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 13px;
    margin-right: 16px;
    margin-left: -16px;
  }

  .u-section-9 .u-image-1 {
    width: 140px;
    height: 140px;
    margin-top: 36px;
    margin-left: 10px;
  }

  .u-section-9 .u-shape-1 {
    margin-top: -1432px;
  }

  .u-section-9 .u-text-3 {
    margin-top: -127px;
    margin-right: 21px;
    margin-left: 160px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 34px;
    margin-right: 163px;
    margin-left: 16px;
  }

  .u-section-9 .u-shape-2 {
    width: 473px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-9 .u-text-5 {
    margin-top: -126px;
    margin-right: 67px;
    margin-left: 35px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 10px;
    margin-right: 90px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 13px;
    margin-right: 16px;
    margin-left: -16px;
  }

  .u-section-9 .u-image-2 {
    width: 140px;
    height: 140px;
    margin-top: 36px;
    margin-left: 10px;
  }

  .u-section-9 .u-shape-3 {
    margin-top: -1432px;
  }

  .u-section-9 .u-text-7 {
    margin-top: -127px;
    margin-right: 21px;
    margin-left: 160px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 34px;
    margin-right: 163px;
    margin-left: 16px;
  }

  .u-section-9 .u-shape-4 {
    width: 473px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-9 .u-text-9 {
    margin-top: -126px;
    margin-right: 67px;
    margin-left: 35px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 10px;
    margin-right: 90px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: -188px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1941px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1600px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: 216px;
    margin-left: auto;
  }

  .u-section-9 .u-shape-1 {
    height: 172px;
    margin-top: -1696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-3 {
    margin-top: -340px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 202px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-shape-2 {
    width: 340px;
    margin-top: 50px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-9 .u-text-5 {
    margin-top: -132px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: 216px;
    margin-left: auto;
  }

  .u-section-9 .u-shape-3 {
    height: 172px;
    margin-top: -1696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-7 {
    margin-top: -340px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 202px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-shape-4 {
    width: 340px;
    margin-top: 50px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-9 .u-text-9 {
    margin-top: -132px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-9 .u-btn-3 {
    margin-top: -63px;
  }
} .u-section-10 {
  background-image: linear-gradient(#e9f2fa, white);
}

.u-section-10 .u-sheet-1 {
  min-height: 819px;
}

.u-section-10 .u-shape-1 {
  width: 196px;
  height: 197px;
  background-image: none;
  margin: 23px -16px 0 auto;
}

.u-section-10 .u-shape-2 {
  width: 509px;
  height: 509px;
  margin: -50px auto 0 198px;
}

.u-section-10 .u-text-1 {
  margin: -609px 771px 0 115px;
}

.u-section-10 .u-custom-html-1 {
  min-height: 491px;
  margin: -52px 107px 60px 515px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 671px;
    margin-left: 15px;
  }

  .u-section-10 .u-custom-html-1 {
    height: auto;
    margin-right: 7px;
    margin-left: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-shape-1 {
    margin-top: 56px;
    margin-right: 16px;
  }

  .u-section-10 .u-shape-2 {
    margin-top: -30px;
    margin-left: 36px;
  }

  .u-section-10 .u-text-1 {
    width: 254px;
    margin-top: -662px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-custom-html-1 {
    width: 518px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-shape-2 {
    margin-left: 31px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-top: 23px;
    margin-right: 22px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-10 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: -493px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-right: auto;
    margin-left: auto;
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 664px;
}

.u-section-11 .u-form-1 {
  height: 517px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: 61px 211px 60px 270px;
}

.u-section-11 .u-form-group-4 {
  margin-left: 0;
}

.u-section-11 .u-btn-1 {
  letter-spacing: 1px;
  width: 100%;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-11 .u-form-1 {
    margin-right: 111px;
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-form-1 {
    margin-right: 1px;
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}