 .u-section-1 {
  background-image: url("images/g79294cc75e76b10a5c8db640ac9e8b70fd712702bc46ce1ad4c95e90db31b14d491ef483ccf0de29656b8a182469b8dc_1280.jpg");
  background-position: 50% 50%;
  min-height: 1139px;
}

.u-section-1 .u-shape-1 {
  background-image: linear-gradient(#292d33, rgba(233,242,250,0.28));
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.15);
  background-image: none;
  font-weight: 700;
  margin: 101px auto 0 calc(((100% - 1140px) / 2) + 437px);
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 427px;
  margin: 0 calc(((100% - 1140px) / 2) + 357px) 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 939px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 360px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 257px);
    margin-right: calc(((100% - 940px) / 2) + 257px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 147px);
    margin-right: calc(((100% - 720px) / 2) + 147px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 539px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #eafdfc);
}

.u-section-2 .u-sheet-1 {
  min-height: 982px;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  margin: 57px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 912px;
  min-height: 185px;
  margin: 80px auto 0 116px;
}

.u-section-2 .u-group-elements-2 {
  width: 211px;
  min-height: 185px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-icon-1 {
  width: 100px;
  height: 100px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px auto 0 56px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -92px auto 0 253px;
}

.u-section-2 .u-group-elements-3 {
  width: 189px;
  min-height: 185px;
  margin: -156px 348px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-icon-3 {
  width: 100px;
  height: 100px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px 89px 0 37px;
  padding: 0;
}

.u-section-2 .u-group-elements-4 {
  width: 167px;
  min-height: 185px;
  margin: -185px 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-icon-4 {
  width: 100px;
  height: 100px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px 33px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 51px;
  height: 51px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -82px 239px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  width: 838px;
  margin: 117px auto 0;
}

.u-section-2 .u-image-1 {
  width: 357px;
  height: 55px;
  margin: 80px 245px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 125px;
  height: 105px;
  margin: -77px auto 60px 233px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 73px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 883px;
    min-height: 196px;
    margin-top: 55px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-elements-2 {
    height: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -97px;
    margin-left: 242px;
  }

  .u-section-2 .u-group-elements-3 {
    height: auto;
    margin-top: -140px;
    margin-right: 322px;
  }

  .u-section-2 .u-group-elements-4 {
    height: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -92px;
    margin-right: 217px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 55px;
    margin-right: 147px;
    margin-left: 118px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 59px;
    margin-right: 85px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -95px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 37px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 52px;
    margin-right: 0;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
  stroke-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 453px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 65px auto 0;
}

.u-section-3 .u-image-1 {
  width: 635px;
  height: 155px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 83px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/light-network-green-1.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 532px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  font-family: Montserrat, sans-serif;
  text-transform: none;
  margin: 87px 102px 0;
}

.u-section-4 .u-form-1 {
  height: 54px;
  width: 632px;
  margin: 47px auto 60px;
}

.u-section-4 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  width: 300%;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 2px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
} .u-section-5 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-sheet-1 {
  min-height: 811px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  width: 835px;
  font-weight: normal;
  margin: 38px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  width: 835px;
  margin: 38px auto 0;
}

.u-section-5 .u-list-1 {
  text-transform: none;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 276px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/AviRamBW.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/1585474409070.jfif");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 160px;
  height: 160px;
  background-image: url("images/AviRamBW.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 160px;
  height: 160px;
  background-image: url("images/Picture1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 226px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-5 .u-image-1 {
    padding: 30px 21px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 685px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }
} .u-section-6 {
  background-image: url("images/5dc6cf5787d5f403a16b19d9e63e4289a956ddab2e5809e83ebf57c59aa6d294975995dde8c0a6a871da4e86cc0894fe8d2e713bdfb76c289df55f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 486px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  margin: 13px 111px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-6 .u-text-2 {
    width: 680px;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 560px;
}

.u-section-7 .u-text-1 {
  margin: 70px 70px 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-7 .u-container-layout-1 {
  padding: 16px 30px 11px;
}

.u-section-7 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.u-section-7 .u-icon-1 {
  height: 46px;
  width: 46px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 88px;
}

.u-section-7 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.u-section-7 .u-icon-2 {
  height: 46px;
  width: 46px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 88px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-text-3 {
  margin: 0 -28px 0 28px;
}

.u-section-7 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.u-section-7 .u-icon-3 {
  height: 46px;
  width: 46px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 88px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-text-4 {
  margin: 0 -30px 0 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-7 .u-container-layout-5 {
  padding: 16px 0;
}

.u-section-7 .u-image-1 {
  width: 175px;
  height: 175px;
  background-image: url("images/1585474409070.jfif");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0.92);
  margin: 0 109px 0 96px;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 16px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 16px auto 0 73px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-7 .u-icon-1 {
    padding: 12px;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-icon-2 {
    padding: 12px;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-icon-3 {
    padding: 12px;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 63px;
    margin-right: 76px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -24px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 71px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 26px;
    margin-right: 39px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 346px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -351px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 396px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -325px;
  }
} .u-section-8 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-8 .u-sheet-1 {
  min-height: 742px;
}

.u-section-8 .u-text-1 {
  margin: 99px 135px 0 160px;
}

.u-section-8 .u-text-2 {
  margin: 24px 55px 0 80px;
}

.u-section-8 .u-list-1 {
  margin: 54px auto 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 32.25px) calc(25% - 32.25px) calc(25% - 32.25px) calc(25% - 32.25px);
  min-height: 263px;
  grid-gap: 43px 43px;
  grid-auto-columns: calc(25% - 32.25px);
}

.u-section-8 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-8 .u-icon-1 {
  width: 41px;
  height: 41px;
  background-image: none;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-8 .u-icon-2 {
  width: 41px;
  height: 41px;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-8 .u-icon-3 {
  width: 41px;
  height: 41px;
  background-image: none;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 9px 0;
}

.u-section-8 .u-icon-4 {
  width: 41px;
  height: 41px;
  background-image: none;
  margin: 13px auto 0;
  padding: 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 10px 0;
}

.u-section-8 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 10px 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 57px auto 60px;
  padding: 19px 64px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 35px;
    margin-left: 60px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 32.25px));
    min-height: 217px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 19px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-10 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 21.5px));
    min-height: 665px;
    grid-auto-columns: calc(50% - 21.5px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 40px;
    margin-left: 140px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 60px;
  }

  .u-section-8 .u-text-10 {
    width: auto;
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1494px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-gap: 24px 24px;
    grid-template-columns: 100%;
    min-height: 929px;
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 16px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 16px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 21px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 16px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 1074px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 27px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 27px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 27px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 27px;
  }

  .u-section-8 .u-icon-4 {
    margin-left: 88px;
    padding: 4px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 27px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 27px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 58px;
  }
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before,
.u-section-8 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-9 {
  background-image: linear-gradient(#e9f2fa, white);
}

.u-section-9 .u-sheet-1 {
  min-height: 786px;
}

.u-section-9 .u-shape-1 {
  width: 196px;
  height: 197px;
  background-image: none;
  margin: 23px -16px 0 auto;
}

.u-section-9 .u-shape-2 {
  width: 509px;
  height: 509px;
  margin: -50px auto 0 198px;
}

.u-section-9 .u-form-1 {
  height: 509px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -609px 23px 0 458px;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  width: 100%;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-9 .u-text-1 {
  margin: -517px 771px 60px 115px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 75px;
    margin-right: -31px;
  }

  .u-section-9 .u-shape-2 {
    margin-top: -6px;
    margin-left: 67px;
  }

  .u-section-9 .u-form-1 {
    height: 517px;
    margin-top: -677px;
    margin-right: 16px;
    margin-left: 265px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-right: 686px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-shape-2 {
    margin-left: -22px;
  }

  .u-section-9 .u-form-1 {
    margin-top: -586px;
    margin-right: 14px;
    margin-left: 47px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -596px;
    margin-right: 419px;
    margin-left: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-right: 286px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 300px;
    margin-right: 31px;
  }

  .u-section-9 .u-shape-2 {
    width: 340px;
    height: 363px;
    margin-top: -237px;
    margin-right: -31px;
    margin-left: auto;
  }

  .u-section-9 .u-form-1 {
    margin-top: -551px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    margin-top: -565px;
    margin-right: 86px;
  }
}